* {
    margin: 0;
    padding: 0;
}

.tool_tips {

    background-color: rgb(197, 197, 197);
    padding: 50px;
    margin: 50px;
}

.header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.list {
    list-style: none;
    padding-bottom: 20px;
}
.list li {
    padding: 2px;
}
.list li a {
    color: black;
    font-size: 20px;
}
.article {
    padding: 20px 0;
}
.button {
    padding: 10px;
    cursor: pointer;
}
.tooltipe {
    background-color: white;
    border: 1px solid black;
    font-weight: bold;
    text-align: center;
    position: absolute;
    padding: 5px;
    border-radius: 5px;
}
.deactive {
    display: none;

}